{% extends "base.html" %} {% block content %}
</br>
<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Not Found!</h2>
      </div>
    </div>
    <iframe style="position: center;" src="https://giphy.com/embed/VhJjZ8Yt3WqbK" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</section>
{% endblock content %}
