{% extends "base.html" %} {% block content %}
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Landing Page em 15 minutos com Flask</h1>
      <h3>A Template by Start Bootstrap</h3>
      <hr class="intro-divider">
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Aprenda o estilo de vida Pythonico!</h2>
        <p class="lead">Python é uma das mais requisitadas e populares linguagens de multi-propósito. Nesta trilha, além de recursos da linguagem teremos muita interação com a melhor parte da linguagem, a sua comunidade!</p>
      </div>
      <div class="col-lg-5 offset-lg-2">
        <br/>
        <br/>
        <img class="img-fluid" src="{{ url_for('static', filename='img/python.png')}}" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
{% endblock content %}
